# don't commit itch.io script
publish.sh

# git ignore for unity repo

# those hidden OSX files
.DS_Store

# assume Unity project is in text format
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# debug files
*.csproj
*.pidb
*.sln
*.unityproj

# user preferences
*.userprefs

# android debugging
*symbols.zip

# subversion
.svn
